.timer {
  display: flex;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  font-size: 18px;
  color: rgb(78, 75, 80);
}

.value {
  text-align: center;
  font-size: 90px;
}
